In [1]:
import pandas as pd
import numpy as np

In [2]:
students_performance = pd.read_csv('StudentsPerformance.csv')

In [6]:
students_performance.groupby('gender', as_index=False).aggregate({'writing score': 'mean', 'reading score': 'std'})

   gender  writing score  reading score
0  female      72.467181      14.378245
1    male      63.311203      13.931832